<h1>Farms</h1>
<%= link_to 'Add a Farm', new_farm_path %>
<div>
  <% @farms.each do |farm| %>
    <section>
    <h2><%= farm.name %></h2>
      <ul>
        <li>State :: <%= farm.state %></li>
        <li>Country :: <%= farm.country %></li>
        <li>Address :: <%= farm.address %></li>
        <li>Phone :: <%= farm.phone %></li>
        <li>Need Level :: <%= farm.need_level %></li>
      </ul>
    </section>
  <% end %>
</div>