<h1>Farms</h1>
<div>
  <% @farms.each do |farm| %>
    <section>
    <h2><%= farm.name %></h2>
      <ul>
        <li><%= farm.state %></li>
        <li><%= farm.country %></li>
        <li><%= farm.address %></li>
        <li><%= farm.phone %></li>
        <li><%= farm.need_level %></li>
      </ul>
    </section>
  <% end %>
</div>