<h1>Add a new Farm</h1>

<%= form_with model: @farm do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :country %>
  <%= f.text_field :country %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :need_level %>
  <%= f.text_field :need_level %>

  <%= hidden_field_tag :companies_id, current_user.id %>

  <%= f.submit %>
<% end %>