<div class="container-md header-space">
  <div class="row">
    <div class="col-md-12">
      <h1><%= link_to 'Logistics Companies', logistics_list_path %></h1>
    </div>
  </div>
  <div class="row resource-space">
    <div class="col-md-12">
      <h2><%= @company.name %></h2>
      <ul>
        <li>State :: <%= @company.state %></li>
        <li>Country :: <%= @company.country %></li>
        <li>Address :: <%= @company.address %></li>
        <li>Phone :: <%= @company.phone %></li>
        <li>Capacity :: <%= @company.max_load %></li>
      </ul>
    </div>
  </div>
</div>