<div class="container-md header-space">
  <div class="row">
    <div class="col-md-12">
      <h1><%= link_to 'Distributors', distributors_list_path %></h1>
    </div>
  </div>
  <div class="row resource-space">
    <div class="col-md-12">
      <h2><%= @distributor.name %></h2>
      <ul>
        <li>State :: <%= @distributor.state %></li>
        <li>Country :: <%= @distributor.country %></li>
        <li>Address :: <%= @distributor.address %></li>
        <li>Phone :: <%= @distributor.phone %></li>
        <li>Need Level :: <%= @distributor.need_level %></li>
        <li>Capacity :: <%= @distributor.capacity %></li>
        <li>Distributor Type :: <%= @distributor.type_display %></li>
      </ul>
    </div>
  </div>
</div>