<div class="container-md header-space">
  <div class="row">
    <div class="col-md-12">
      <h1>Farms</h1>
      <%= link_to 'Add Food', new_farm_food_path %>
    </div>
  </div>
  <div class="row resource-space">
    <div class="col-md-12">
      <h2><%= @farm.name %></h2>
      <ul>
        <li>State :: <%= @farm.state %></li>
        <li>Country :: <%= @farm.country %></li>
        <li>Address :: <%= @farm.address %></li>
        <li>Phone :: <%= @farm.phone %></li>
        <li>Need Level :: <%= @farm.need_level %></li>
      </ul>
    </div>
  </div>
  <h3>Foods</h3>
  <% @farm.foods.each do |food| %>
    <div class="row resource-space">
      <div class="col-md-12">
        <h4><%= food.name %></h4>
        <ul>
          <li><%= "Amount (#{food.unit_type})" %> :: <%= food.amount %></li>
          <li>Expiration :: <%= food.expiration %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
