<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "carousel.css" %>
    <%= favicon_link_tag asset_path('food_crate_favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# Nav Bar %>
    <header id="headerSpace">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <%= link_to 'Food Crate', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'Suppliers', suppliers_list_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Distributors', distributors_list_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Logistics', logistics_list_path, class: 'nav-link' %>
            </li>
            <% if current_user == nil %>
              <li class="nav-item float-right">
                <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item float-right">
                <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if current_user %>
              <li class="nav-item dropdown float-right">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.email %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to 'Sign Out', destroy_user_session_path, class: 'dropdown-item', method: :delete %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%# Flash Messages %>
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |type, msg| %>
          <% type = 'info' if type == 'notice' %>
          <% type = 'warning' if type == 'alert' %>
          <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
            <%= msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
        <% end %>
      </div>
    </div>

    <%# Views Content %>
    <%= yield %>

    <%# Footer %>
    <footer class="container margin-top">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2020 Food Link</p>
    </footer>

    <%# Bootstrap scripts %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
